$lines = @"
*
!.dockerignore
!Dockerfile
!render.yaml
!composer.json
!composer.lock
!public/**
!src/**
!config/**
!templates/**
!assets/**
!bin/**
!translations/**
!.env
"@
$lines | Set-Content -NoNewline .dockerignore